@import url('https://rsms.me/inter/inter-ui.css');

body, html {
    width: 100vw;
    height: 100vh;
    margin: 0;
    font-family: "Inter UI", Helvetica, sans-serif;
    font-size: 16px;
    color: #222222;
}

a {
    text-decoration: none;
    color: inherit;
    font-weight: 600;
}

a:hover {
    color: #dfc686;
}

.center {
    height: 100%;
    display: flex;
    align-items: center;
    text-align: center;
    overflow: scroll;
}

.padded-content {
    margin: auto 0;
    padding: 15vh 30vh;
}

.questions .description {
    font-size: 12px;
}

.questions li {
    margin: 10px 0;
}

.questions .download {
    text-align: center;
    margin-top: 80px;
}

.questions .download a {
    font-size: 18px;
    font-weight: 800;
    text-transform: uppercase;
}

@media (max-width: 600px) {
    .padded-content {
        padding: 5vh 10vh;
    }
}
